
<%# <div class='container'> %>
<h1 class="container1"> Adopt A pet  </h1>
<div class="container">

<div class="card-columns col-md-8 container">
<%@pets.each do |pet| %>


  <div class="card pet-card" >
    <img class="card-img-top pet-img" src=<%=pet.img%> alt="Card image cap">
    
    <div class="card-body container">
       <h5><%= link_to pet.name , pet_path(pet) , :class =>"card-title text-success"%></h5>
       <p><%= link_to pet.description , pet_path(pet), :class =>"card-text text-secondary"%></p>
      </div>

      <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
       </div>
     </div>

  <%end%>
  </div>
  </div>
  <%= link_to 'Rehome your pet ',
new_pet_path ,:class =>"btn btn-success btn-lg btn-block container"%>