// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// .pets.index img{
//     width: 150px;
//     height: 150px;
// }
// .pets.index .container1 {
// display: flex;
// justify-content: space-around;
// margin-top: 80px;
// margin-bottom: 80px;

// }

// .card{
//    display: flex;
// }
// // .pet .index .card-group{
//     display: flex;
// }

// .pets.index img
// width: 244px;
// height: 180px;

// .pets.show img{
//     width: 150px;
//     height: 150px;

// // }
// btn btn-success btn-lg btn-block{
//     width: 50%;
//     color:red;

// }

.container1{
    text-align: center;
}

.card-columns {
    margin-top: 30px;
margin-bottom: 10px;


}

.application nav{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.butt1 {
    margin-top: 70px;


}
.title{
    text-align: center;
    // margin-bottom: 30px;
}

    .titlecontainer{
        text-align: center;
    }